[Unit]
Description=code-server
After=nginx.service

[Service]
Type=simple
User=coder
Environment=PASSWORD=E9a7r5t3
ExecStart=/usr/bin/code-server --bind-addr 192.168.0.3:8000 --user-data-dir /home/coder/ --auth password
Restart=always

[Install]
WantedBy=default.target
